html {
	box-sizing: border-box;
	font-size: 10px;
	* {
		box-sizing: inherit;
	}
}

body {
	margin: 0;
	font: 1.4rem/1.5 "Noto Sans KR", sans-serif;
}

.container {
  width: 85vw;
  margin: {
    left: auto;
    right: auto;
  }
	padding: 10px 20px 0;
}

.fade-enter-active,
.fade-leave-active {
	transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
	opacity: 0;
}

.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s
}

.layout-enter,
.layout-leave-to {
  opacity: 0
}